@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Instagram Manager</h1>
    <h2>Welcome</h2>
    <div class="detective-desk">
        <img src="~/images/logo.png" alt="Detective Desk" class="detective-image" />
    </div>
    <p>Instructions: The Users menu takes you to all screens, except Messaging.</a>.</p>
</div>
